<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <%- include('../propiedad/propiedad.ejs') %>
            </div>
            <div class="column is-3">
                <%- include('../propiedad/propiedad.ejs') %>  
            </div>
            <div class="column is-3">
                <%- include('../propiedad/propiedad.ejs') %>
            </div>
            <div class="column is-3">
                <%- include('../propiedad/propiedad.ejs') %>
            </div>
        </div>
    </div>
</div>
    