.index {
	width: 100%;
}

.main-container{
	padding-top: 0px;
	margin: 0px;
}

.index .banner {
	padding: 200px 100px;
	margin: 0px;
	background-image: url('images/queretaro.jpg') ;
	background-size: cover;
}

.container-fluid {
	padding-top: 50px;
	padding: 35px;
}

.container-fluid-2 {
	padding-top: 10px;
	padding-left: 0px;
	padding: 20px;
}


.formulario{
	padding: 200px 100px;
	padding-top: 50px;
}

.btn-color {
	background-color: #de564a;
	margin: 0px;
	border-color: #de564a;
	
}

.contenedor {
	margin: 50px 50px;
}

.naranja {
	color: #de564a;	
}