<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://images.adsttc.com/media/images/5c92/f22f/284d/d106/1900/0065/large_jpg/_FI.jpg?1553134115" alt="Placeholder image">
        </figure>
      </div>
    <div class="card-content">
      <p class="subtitle">
        <%= propiedad.Descripcion %> 
      </p>
      <p class="subtitle">
        <%= propiedad.Colonia %>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Habitaciones 
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <%= propiedad.Precio %> 
        </span>
      </p>
    </footer>
  </div>