<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
          <img src="<%=propiedad.Imagenes%>">
        </figure>
      </div>
    <div class="card-content">
      <p class="subtitle">
        <%= propiedad.Descripcion %> 
      </p>
      <p class="subtitle">
        <%= propiedad.Colonia %>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          Habitaciones 
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <%= propiedad.Precio %> 
        </span>
      </p>
    </footer>
  </div>
